.newsEvents {
    width: 1920px;
    height: 750px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.newsEvents .left {
    width: 671px;
    height: 509px;
    top: 7804px;
    left: 60px;
    gap: 0px;
    opacity: 0px;

}

.newsEvents .right {
    width: 1071px;
    height: 458px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 26px;
    margin-top: -55px;

}

.newsEvents .heading .text {
    font-family: "Kameron";
    font-size: 32px;
    font-weight: 600;
    line-height: 37.98px;
    text-align: left;

}

.newsEvents .events {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.newsEvents .events .eventsCard {
    width: 523px;
    height: 221px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 2px 0;
}

.newsEvents .events .eventsCard .img img {
    border-radius: 20px;

}

.newsEvents .events .eventsCard .desc {
    padding: 0 20px;
}
.newsEvents .events .eventsCard .desc h3 {
    font-family: "Kameron";
    font-size: 22px;
    font-weight: 700;
    line-height: 27.95px;
    text-align: left;

}

.newsEvents .events .eventsCard .desc .eveDetails {
    font-family: "Kameron";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.99px;
    text-align: left;

}